.configInput {
  gap: 50px;
  display: flex;
  justify-content: flex-end;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #e7eef7;
  padding: 40px;
  border-radius: 4px;
}

label {
  font-weight: bold;
}

input {
  padding: 8px;
  font-size: 1em;
}

.primary {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.primary:hover {
  background-color: #0056b3;
}

.icon-button {
  padding: 4px;
  background-color: transparent;
  cursor: pointer;
  margin: 10px;
}
button:disabled,
button[disabled] {
  cursor: not-allowed;
}

.icon-button:hover {
  border: 1px solid #007bff;
}
